
html * {
    color: white;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.videoPlayer {
    margin-top: 30px;
}


header {
    font-family: 'Roboto', sans-serif;
}
.title {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.7) 100%);
    padding: 10px;
    top: 0;
    height: 50px;
    position: fixed;
    width: 100%;
}

.description {
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: 70px;
    font-weight: 500;
    color: black;
    width: 50%;
    margin-left: 25%;
}

.curiosidades {
    background: rgba(255,255,255,0.6);
    width: 55%;
    margin: 0 auto;
    margin-bottom: 100px;
    border-radius: 3px;
    
}

ul {
    text-align: center;    
    margin: 20px 0px;
    list-style: none;
    line-height: 30px;
    
}

ul li {
    color: black;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 17px;
    font-weight: 500;
}

ul li a {
    color: blue;
    text-decoration: none;
}

.principal {
    text-align: center;
}

.subtitle {
        margin-top: 40px;
        color: white;
        text-align: center;
        font-family: 'Montserrat', 'sans-serif';
        font-size: 32px;
        font-weight: 900;
        padding: 10px;
        color: black;
}

.rodape {
    text-align: center;
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.7) 100%);
    height: 80px;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.rodape p {
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-top: 5px;
}
.icones {
    margin-top: 10px;
    width: 32px;
    padding: 0 10px 0 10px;
    height: 32px;
}

.icones:hover {
    opacity: 0.7;
}